@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Colores
$red: #D85A5A;
$caparol: #9E7474;
$white: #FFFFFF;
$black: #000000;

//Sombras
$black-shadow: rgba(0, 0, 0, 0.17);

//Fuentes
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$futura: 'Nunito', sans-serif;


//Otros
$sizes: ("xlarge": 67px, "large": 52px, "medium": 50px, "small": 22px, "xsmall": 20px);
$weights: ("bold": 700, "medium": 500, "regular": 400, "light": 300);
$spacing: 54px;