@use 'variables' as vars;

@function getSize($size){
    @return map-get(vars.$sizes, $size);
}

@function getWeight($weight){
    @return map-get(vars.$weights, $weight);
}

@function getIcon($iconName){
    @return url("public/icons/#{$iconName}");
}
@function getImage($imageName){
    @return url("public/imgs/#{$imageName}");
}


@mixin headings($size, $weight){
    font-family: vars.$poppins;
    font-size: getSize($size);
    font-weight: getWeight($weight);
}

@mixin with-line($color: vars.$red, $height: 100%, $width: .4rem){
    display: flex;
    gap: .3rem;
    align-items: center;
    &::before{
        content: "";
        height: $height;
        width: $width;
        background-color: $color;
    }
}

%button{
    border-radius: 9999px;
    background-color: vars.$red;
    border: 0;
    color: vars.$white;
    font-size: getSize("xsmall");
    padding: 1rem 4rem 1rem 4rem
}

.heading-1{
    @include headings("xlarge", "bold")
}

.primary-button{
    @extend %button;
}

.secondary-button{
    @extend %button;
    background-color: vars.$white;
    color: vars.$red;
    box-shadow: 2px 7px 8px 0px vars.$black-shadow;
}

.text{
    color: vars.$caparol;
    font-family: vars.$raleway;
    line-height: vars.$spacing;
    width: 30rem;
}

.logo{
    @include headings("large", "bold");
    font-family: vars.$futura;
}

.container{
    @include with-line;
    height: 4rem;
    width: fit;
}