@use 'variables' as vars;
@use "animations";


@function getSize($size){
    
    @return map-get(vars.$sizes, $size);
}

@function getWeight($weight){
    @return map-get(vars.$weights, $weight);
}

@function getIcon($iconName){
    @return url("public/icons/#{$iconName}");
}
@function getImage($imageName){
    @return url("public/imgs/#{$imageName}");
}


@mixin reset-component{
    border-style: none;
    margin: 0;
    padding: 0;
}

@mixin image($height, $rotation: 0){
    object-fit: contain;
    max-width: 100%;
    height: $height;

    @if $rotation != 0 and $rotation != 0deg {
        transform: rotate($rotation)
    }

}
@mixin headings($size, $weight){
    @include reset-component;
    font-family: vars.$poppins;
    font-size: getSize($size);
    font-weight: getWeight($weight);
}

@mixin with-line($color: vars.$red, $height: 100%, $width: .4rem){
    display: flex;
    gap: .3rem;
    align-items: center;
    &::before{
        content: "";
        height: $height;
        width: $width;
        background-color: $color;
    }
}

@mixin button($primary: vars.$red, $secondary: vars.$white){
    @include reset-component;
    display: inline-block;
    border-radius: 9999px;
    background-color: $primary;
    color: $secondary;
    font-size: getSize("xsmall");
    padding: 1rem 4rem 1rem 4rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer; 
    
    &::before{
        content: "";
        position: absolute;
        border-radius: 9999px;
        z-index: -1;
        left: 0;
        top: 0;
        background-color: darken($primary, 15%);
        height: 100%;
        width: 0;
        transition: all 200ms ease-in-out;
    }

    &:hover{
        color: $secondary;
        &::before{
            width: 100%
        }
    }
}


.heading-1{
    @include headings("xlarge", "bold")
}

.primary-button{
    @include button
}

.secondary-button{
    @include button(vars.$white,vars.$red);
    box-shadow: 2px 7px 8px 0px vars.$black-shadow;
}

.text{
    color: vars.$caparol;
    font-family: vars.$raleway;
    line-height: vars.$spacing;
    width: 30rem;
}

.logo{

    @include headings("large", "bold");
    height: 4rem;
    font-family: vars.$futura;
}

.container{
    @include with-line;
    height: 4rem;
    width: fit;
}

.image-1{
    @include image(500px, 0deg)
}